/**
 * @license
 * Copyright 2018,2019 Shawn Betts
 * SPDX-License-Identifier: MIT
**/

div.title {
    font-size: 2em;
    font-weight: bold;
}

td.key {
    text-align: right;
}

#data-dir {
    display: inline-block;
    min-width: 200px;
    border: 1px solid black;
    background: #FFFFFF;
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
    font-size: 14px;
}

#change {
    border: 1px solid blue;
    background-color: lightBlue;
    cursor:pointer;
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
    font-size: 14px;

}

#change:hover {
   background-color: blue;
   color:white;
}

#tab-buttons {
    margin: 0;
}

#tab-area {
    margin: 0;
}

div.tab-area {
    /* border-top: 1px black solid; */
    padding: 10px ;
}

span.tab {
    display: inline-block;
    width: 100px;
    background-color: lightgray;
    text-align: center;
    padding: 2px;
    margin: 0;
    cursor: pointer;
}

span.activetab {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 0px;
    background-color: #EEEEEE;
    cursor: default;
}

span.hiddentab {
    border-left: 1px solid #EEEEEE;
    border-right: 0px;

    border-top: 0px;
    border-bottom: 0px;
}

canvas.game {
    /* width: 710px; */
    /* height: 626px; */
    background-color: black;
}

div.tab-area {
    background-color: #EEEEEE;
}
